<form (ngSubmit)="onSubmit(loginForm)">
    <div>
        <label for="username">Username: </label>
        <input 
        type="text" 
        name="username" 
        id="username"
        [(ngModel)] = "username"
        required
        >
    </div>
    <div>
        <label for="password">Password: </label>
        <input 
        type="password" 
        name="password" 
        id="password"
        [(ngModel)] = "password"
        required
        >
    </div>
    <input type="submit">
</form>
